* {
  box-sizing: border-box;
}
body{
  margin: 0px;
  
}

.background-image {
  background-image: url('../images/background.jpg');
  background-size: cover;
   display: block;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: 128px auto 0px auto;
  /*margin: 0 auto;*/
  background: rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 2;
  width: 30%;
  height: 568px;
  text-align: center;
}

.header{
  background-image: url('../images/loginbtn.png');
  background-size: 100%;
  width: 100%;
  height: 52%;
  border-radius: 20px;

  /*border: 1px solid red;*/
}

.header form{
  margin-top: 10%;
  text-align: center;
}



.form-submit-button {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  background-size: 100% 100%;

  color: #008083;

  border-style: outset;

  border-color: #008083;

  height: 50px;

  width: 39%;

  margin: 0px auto 0px auto;

  font: bold 36px Brush Script MT, sans-serif;

  text-shadow:none;

}

.logo{
  color: red;
  height: 50px;

  width: 39%;

  margin: 0px auto 0px auto;

  font: italic bold 36px Comic Sans MS, sans-serif;

  text-shadow:none;
}

.blah{ 
  margin-top: 31px;
}

.input_txt{
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
}

label{
  color: #008083;
  font: italic bold 21px Arial, Helvetica, sans-serif;
}